*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    text-shadow: none;
    background: #b3d4fc;
}

body {
    font-family: "PT Serif", serif;
    line-height: 1.6;
    color: #555;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

small {
    font-size: 50%;
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #999;
    padding: 0;
}

p {
    margin-bottom: 0.5rem;
}

p:last-child {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.header,
.content {
    padding: 1rem;
}

.header .image {
    max-width: 25rem;
    margin: 0.5rem auto;
    text-align: center;
}

.header .image img {
    width: 100%;
    height: auto;
}

.header .title {
    text-align: center;
    font-size: 1.5rem;
}

.header .nav {
    background: #efefef;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.header .nav .nav-item a {
    display: block;
    padding: 1rem;
    font-size: 1.15rem;
}

section {
    margin-bottom: 1.25rem;
}

.section-heading {
    margin-bottom: 0.25rem;
}

.section-source {
    text-align: right;
    font-style: italic;
}

table, th, td {
    border: 1px solid #999;
    text-align: center;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 0.5rem;
}

.table-container.left td {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.25rem;
}

table .table-image {
    width: 150px;
}

.footer .trademark-notice {
    font-style: italic;
    color: #999;
    text-align: right;
}

@media screen and (max-width: 400px) {
    .header .nav {
        display: block;
        text-align: center;
        margin: 0;
    }

    table .table-image {
        width: 100px;
    }
}
