*, *::after. *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: rgba(0, 0, 0, 0.15);
    color: #111;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    background: #fafafa;
}

a {
    color: #5acccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 500;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
}

.header {
    border-bottom: 2px dashed #ddd;
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: center;
}

.header .title {
    font-size: 2.5rem;
}

.header .sub-title {
    font-size: 1.5rem;
}

.content {
    padding: 1rem;
}

p {
    margin: 0;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

pre {
    background: #fff;
    padding: 1rem;
    white-space: pre-wrap;
}

code {
    padding: 5px;
    background: #fff;
    white-space: pre-wrap;
}

.divider {
    max-width: 25rem;
    margin: calc(1rem + 2px) auto 1rem auto;
    height: 0;
    display: block;
    border-bottom: 2px dashed #ddd;
}

.footer {
    border-top: 2px dashed #ddd;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 0;
    color: #999;
    text-align: right;
}
