*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.container {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f0f0f0;
    color: #555;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 1rem;
}

ul {
    list-style: none;
}

.button {
    background-color: #1abc9c;
    color: white;
    padding: 15px;
    border: 0;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
}

.button:hover {
    background-color: #16a085;
}

.button:focus {
    outline: 0;
}

@media screen and (max-width: 700px) {
    .container {
        display: block;
    }
}
