<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

        <title>Midterm</title>

        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <div id="app" class="container">
            <label>How many cards to generate? (1 to 52)</label>
            <input type="number" name="number" max="52" min="1" value="1" placeholder="1-52" />

            <p v-if="deck.id">
                Deck has been generated! ({{ deck.remaining }} remaining)
            </p>

            <button v-if="deck.id" v-on:click="getDeck">Regenerate Deck</button>
            <button v-if="deck.id" v-on:click="draw(1)">Draw a card</button>

            <ul v-if="deck.cards.length > 0">
                <li v-for="card in deck.cards">
                    {{ card.value }} of {{ card.suit }}
                </li>
            </ul>
        </div>

        <script src="../js/vue.js"></script>
        <script src="../js/vue-resource.min.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>
