/*
 * Theme: https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354
 */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background-color: rgba(0, 0, 0, 0.15);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #2d3142;
    background-color: #fff;
    position: relative;
}

a {
    text-decoration: none;
    color: #ef8354;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

.text-light {
    color: #bfc0c0;
}

.header {
    background: #4f5d75;
    color: #ef8354;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header .title {
    font-size: 36px;
    margin-bottom: 5px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.form {
    margin-bottom: 20px;
}

.form-group,
.form-label,
.form-input {
    display: block;
}

.form-group:not(:last-child) {
    margin-bottom: 10px;
}

.form-label {
    margin-bottom: 10px;
}

.form-input {
    background-color: #fff;
    color: #2d3142;
    border: 1px solid #bfc0c0;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    font-size: 20px;
}

.form-input:focus {
    outline: 0;
    border: 1px solid #333;
}

.form-together {
    display: flex;
}

.form-together .form-input {
    margin-right: 10px;
}

.form-together .button {
    margin-left: 10px;
}

.flex-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #ef8354;
    color: #fff;
    border: 1px solid #cc7048;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.button:focus {
    outline: 0;
    border-color: #995436;
}

.list-group {
    list-style: none;
    border: 1px solid #bfc0c0;
    border-radius: 3px;
}

.list-group-item {
    padding: 20px;
    border-bottom: 1px solid #bfc0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item:last-child {
    border-bottom: 0;
}

.card-image {
    height: 75px;
}

.card-image img {
    height: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .form-together,
    .flex-me {
        display: block;
    }

    .form-together .form-input {
        margin-right: 0;
        margin-bottom: 20px;
        display: block;
    }

    .flex-me .question {
        display: block;
    }

    .form-together .button {
        margin-left: 0;
    }

    .button {
        width: 100%;
    }
}
