*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.container {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: white;
    text-shadow: 3px 3px 0 black;
    font-weight: 600;
    background-image: url(../images/bacon.png);
    background-repeat: repeat;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    padding: 1rem;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 7.5rem;
    margin-bottom: 0.25rem;
}
